.register-page {
  background: #1f1f1f;
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.register-card {
  background: #a89292;
  padding: 2rem 2.2rem;
  border-radius: 12px;
  width: 100%;
  max-width: 340px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.register-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-black);
}

.register-group {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.register-group label {
  font-size: 0.8rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-black);
}

.register-group input {
  height: 30px;
  border-radius: 999px;
  border: none;
  padding: 0 0.8rem;
  background: #eee;
  color: var(--color-black);
}

.register-login {
  font-size: 0.75rem;
  color: var(--color-black);
}

.register-login a {
  font-weight: var(--font-weight-bold);
  text-decoration: underline;
}

.register-button {
  margin-top: 0.5rem;
  height: 38px;
  border-radius: var(--radius-full);
  background: var(--color-dark);
  color: var(--color-white);
  border: 1px solid var(--color-dark);
  font-weight: var(--font-weight-medium);
  cursor: pointer;
  transition: all 0.25s ease;
}

.register-button:hover {
  background: transparent;
  color: var(--color-black);
  border-color: var(--color-black);
}
#register-message {
  min-height: 20px;
  font-size: 0.85rem;
  font-weight: var(--font-weight-bold);
}
/* ========================= */
/* DESKTOP */
/* ========================= */

@media (min-width: 900px) {
  .register-card {
    max-width: 380px;
    padding: 2.5rem;
  }

  .register-title {
    font-size: 1.8rem;
  }
}